<div>
  <main>
    <h2>{{name}}</h2>
    <p>{{description}}</p>
     
    <h3>Price: ${{price}}</h3>
    <h3>Category: {{category}}</h3>

    <h3>Features</h3>
    <h4>Processor</h4>
    <ul>
    <li>Brand: {{features.processor.brand}}</li>
    <li>Model: {{features.processor.model}}</li>
    <li>Speed: {{features.processor.speed}}</li>
    <li>Cores: {{features.processor.cores}}</li>
    <li>Cache: {{features.processor.cache}}</li>
    </ul>

    <h4>Memory</h4>
    <ul>
    <li>Type: {{features.memory.type}}</li>
    <li>Size: {{features.memory.size}}</li>
    <li>Speed: {{features.memory.speed}}</li>
    </ul>

    <h4>Storage</h4>
    <ul>
    <li>Type: {{features.storage.type}}</li>
    <li>Size: {{features.storage.size}}</li>
    </ul>

    <h4>Display</h4>
    <ul>
    <li>Size: {{features.display.size}}</li>
    <li>Resolution: {{features.display.resolution}}</li>
    <li>Technology: {{features.display.technology}}</li>
    <li>Color Space: {{features.display.color_space}}</li>
    <li>Brightness: {{features.display.brightness}}</li>
    <li>Refresh Rate: {{features.display.refresh_rate}}</li>
    </ul>

    <h4>Graphics</h4>
    <ul>
    <li>Brand: {{features.graphics.brand}}</li>
    <li>Model: {{features.graphics.model}}</li>
    <li>Memory: {{features.graphics.memory}}</li>
    </ul>

     <h4>Ports</h4>
  {{#each features.ports}}
    <ul>
      <li>Type: {{type}}</li>
      <li>Count: {{count}}</li>
      {{#if features}}
        <li>Features:
          <ul>
            {{#each features}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </li>
      {{/if}}
    </ul>
  {{/each}}

  <h4>Battery</h4>
  <ul>
    <li>Type: {{features.battery.type}}</li>
    <li>Capacity: {{features.battery.capacity}}</li>
    <li>Life: {{features.battery.life}}</li>
  </ul>

   <h4>Weight: {{features.weight}}</h4>
  
  <h4>Dimensions</h4>
  <ul>
    <li>Height: {{features.dimensions.height}}</li>
    <li>Width: {{features.dimensions.width}}</li>
    <li>Depth: {{features.dimensions.depth}}</li>
  </ul>

    <h4>Operating System: {{features.operating_system}}</h4>
  
  <h4>Accessories</h4>
  {{#each features.accessories}}
    <ul>
      <li>Name: {{name}}</li>
      <li>Price: ${{price}}</li>
    </ul>
  {{/each}}
  </main>
</div>