<div>
    <h1 class="text-center">{{page_header.title}}</h1>
     <p class="text-center">{{page_header.description}}</p>
     <hr>
     
     <div class="card">
     <div class="card-body">
     <h2 class="text-end display-6">{{section.about_us.title_list.main}}</h2>
     <h2 class="text-end">{{section.about_us.title_list.sub}}</h2>
     <button type="button" class="btn btn-outline-info">Show more</button>
     <br>
     <br>
     </div>
     </div>
     <br>
     
    
     <h2 class="display-5 text-muted">{{section.advantage.title}}</h2>
     <br>
     <div class="card">
     <div class="card-body">
     <h3 class="display-4 text-muted">{{section.advantage.efficiency.title}}</h3>
     <h6>{{section.advantage.efficiency.sub_title}}</h6>
     <p>{{section.advantage.efficiency.description}}</p>
     <button type="button" class="btn btn-outline-warning">Show more</button>
     <br>
     <br>
     </div>
     </div>
     <br>
    
     <div class="card">
     <div class="card-body">
     <h3 class="display-4 text-center text-muted">{{section.advantage.innovation.title}}</h3>
     <h6 class="text-center">{{section.advantage.innovation.sub_title}}</h6>
     <p class="text-center">{{section.advantage.innovation.description}}</p>
     <br>
     <br>
     <button type="button" class="btn btn-outline-warning">Show more</button>
     </div>
     </div>
     <br>
        
        
    <div>
    <div class="card">
    <div class="card-body">
    <h3 class="display-4 text-end text-muted">{{section.advantage.collaboration.title}}</h3>
    <h6 class="text-end">{{section.advantage.collaboration.sub_title}}</h6>
    <p class="text-end">{{section.advantage.collaboration.description}}</p>
    <br>
    <br>
    <button type="button" class="btn btn-outline-warning">Show more</button>
    </div>
    </div>
    <br>

      <div>
      <h2 class="display-5">{{section.agreement.title}}</h2>
      <br>
      <div class="card">
      <div class="card-body">
      <h5>{{section.agreement.info.sub_title}}</h5>
      <p>{{section.agreement.info.detail.text}}</p>
      <br>
      <button type="button" class="btn btn-outline-success">Acept</button>
      <br>
      </div>
      </div>
      </div>
      </div>        
</div>
