<div>
    <h1 class="text-center">{{page_header.title}}</h1>
     <p class="text-center">{{page_header.description}}</p>
     <hr>
     <hr>

     <h2 class="text-end display-6">{{section.about_us.title_list.main}}</h2>
     <h2 class="text-end">{{section.about_us.title_list.sub}}</h2>
     <button type="button" class="btn btn-outline-info">Info</button>
     <br>
     <br>
     <button type="button">{{section.about_us.button.text}}</button>
     <hr>

     <h2 class="display-5 text-muted">{{section.advantage.title}}</h2>
      <h3 class="display-4 text-muted">{{section.advantage.efficiency.title}}</h3>
      <h6>{{section.advantage.efficiency.sub_title}}</h6>
      <p>{{section.advantage.efficiency.description}}</p>
      <button type="button" class="btn btn-outline-warning">Warning</button>
      <br>
     <br>
     <button type="button">{{section.advantage.efficiency.button}}</button>
     <hr>

     <h3 class="display-4 text-center text-muted">{{section.advantage.innovation.title}}</h3>
     <h6 class="text-center">{{section.advantage.innovation.sub_title}}</h6>
     <p class="text-center">{{section.advantage.innovation.description}}</p>
     <button type="button">{{section.advantage.innovation.button}}</button>
     <br>
     <br>
     <button type="button" class="btn btn-outline-warning">Warning</button>
     <hr>
        
    <div>
        <h3 class="display-4 text-end text-muted">{{section.advantage.collaboration.title}}</h3>
        <h6 class="text-end">{{section.advantage.collaboration.sub_title}}</h6>
        <p class="text-end">{{section.advantage.collaboration.description}}</p>
        <button type="button">{{section.advantage.collaboration.button}}</button>
        <br>
        <br>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <hr>

        <div>
            <h2 class="display-5">{{section.agreement.title}}</h2>
            <h5>{{section.agreement.info.sub_title}}</h5>
            <div class="card">
               <div class="card-body">
                 <p>{{section.agreement.info.detail.text}}</p>
                 <br>
                 <button type="button" class="btn btn-outline-success">Success</button>
                 <br>
                 <br>
                 <button type="button">{{section.agreement.info.detail.button}}</button>
               </div>
            </div>
        </div>
    </div>        
</div>